@model TechnicalService.Entity.ViewsModel.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layouts/_UserPageLayout.cshtml";
}






<div id="content">
    <div class="container">

        <div class="row">
           

            <div class="col-md-offset-3 col-md-6">
                <div class="box">
                    <h2 class="text-uppercase">Oturum Aç</h2>

                

                    <hr>

                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                           @if (ViewBag.Sonuc != null)
                            {
                            <div class="alert alert-info" role="alert">@ViewBag.Sonuc</div>
                            }
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <label for="UserName">Kullanıcı Adı</label>
                           @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="password">Şifre</label>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-template-main"><i class="fa fa-sign-in"></i> Giriş Yap</button>
                            <a href="../Account/Register">Kayıt Ol</a> • <a href="../Account/RecoverPassword">Şifremi Unuttum</a>
                        </div>
                    }
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>


