@model TechnicalService.Entity.ViewsModel.ProfileViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/Layouts/_UserLayout.cshtml";
}

<h2>Profile</h2>

<div>
    <h4>ProfileViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OldPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmNewPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmNewPassword)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
