@model TechnicalService.Entity.ViewsModel.ProfileViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/Layouts/_UserPageLayout.cshtml";
}


<div id="content" class="clearfix">

    <div class="container">

        <div class="row">

            <!-- *** LEFT COLUMN ***
            _________________________________________________________ -->

            <div class="col-md-9 clearfix" id="customer-account">

                <p class="lead">Kişisel bilgilerinizi  değiştirin.</p>
               

             


                <div class="box clearfix">
                    <div class="heading">
                        <h3 class="text-uppercase">Profil Detayları</h3>
                    </div>

                  @using (Html.BeginForm())
                  {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                      if (ViewBag.Sonuc != null)
                      {
                    <div class="alert alert-info" role="alert">@ViewBag.Sonuc</div>
                      }
                    <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name)
                                    
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    
                            </div></div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Surname)

                                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                                  
                                    </div>
                            </div>
                    </div>
                        <!-- /.row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Username)

                                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

                                  

                                    </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email)
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-template-main"><i class="fa fa-save"></i>Kaydet</button>

                        </div>
                        <!-- /.row -->

                  }
            </div>
                </div>
            <!-- /.col-md-9 -->
            <!-- *** LEFT COLUMN END *** -->
            <!-- *** RIGHT COLUMN ***
            _________________________________________________________ -->

            <div class="col-md-3">
                <!-- *** CUSTOMER MENU ***
                _________________________________________________________ -->
                @Html.Partial("_PartialAccountSidebar")
                <!-- /.col-md-3 -->
                <!-- *** CUSTOMER MENU END *** -->
            </div>

            <!-- *** RIGHT COLUMN END *** -->

    
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
