@model TechnicalService.Entity.ViewsModel.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Layouts/_UserPageLayout.cshtml";
}


<div id="content">
    <div class="container">

        <div class="row">


            <div class="col-md-offset-3 col-md-6">
                <div class="box">

                    <h2 class="text-uppercase">New account</h2>

                    <p class="lead">Not our registered customer yet?</p>
                    <p>With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole process will not take you more than a minute!</p>
                    <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>

                    <hr>


                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(x => x.Name, new { @class = " control-label" })
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Ad.." })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Surname, new { @class = " control-label" })
                            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", placeholder = "Soyad.." })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Email, new { @class = " control-label" })
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email.." })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Username, new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Kullanıcı Adı.." })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Password, new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password" })

                            @Html.ValidationMessageFor(x => x.Password)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.ConfirmPassword, new { @class = " control-label" })
                            @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", type = "password" })
                        </div>
                            <span class="text-danger">@Html.ValidationMessageFor(x => x.ConfirmPassword)</span>
                            <div class="text-center">
                                <button type="submit" class="btn btn-template-main"><i class="fa fa-user-md"></i> Register</button>
                                <a href="@Url.Action("Login","Account")">Giriş Yap</a>
                            </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>