@model TechnicalService.Entity.ViewsModel.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Layouts/_UserPageLayout.cshtml";
}


<div id="content">
    <div class="container">

        <div class="row">


            <div class="col-md-offset-3 col-md-6">
                <div class="box">

                    <h2 class="text-uppercase">Yeni Hesap</h2>

                   
                    <p class="text-muted">Herhangi bir sorunuz varsa, lütfen <a href="@Url.Action("Contact","Home")"> bizimle iletişime geçmekten çekinmeyin</a> , müşteri hizmetleri merkezi sizin için 7/24 çalışır.</p>

                    <hr>


                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(x => x.Name, new { @class = " control-label" })
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Ad.." })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Surname, new { @class = " control-label" })
                            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", placeholder = "Soyad.." })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Email, new { @class = " control-label" })
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email.." })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Username, new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Kullanıcı Adı.." })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Password, new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password" })

                            @Html.ValidationMessageFor(x => x.Password)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.ConfirmPassword, new { @class = " control-label" })
                            @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", type = "password" })
                        </div>
                            <span class="text-danger">@Html.ValidationMessageFor(x => x.ConfirmPassword)</span>
                            <div class="text-center">
                                <button type="submit" class="btn btn-template-main"><i class="fa fa-user-md"></i> Kayıt Ol</button>
                                <a href="@Url.Action("Login","Account")">Giriş Yap</a>
                            </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>