@model TechnicalService.Entity.ViewsModel.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Layouts/_UserLayout.cshtml";
}
<link href="~/Content/LoginAndRegister.css" rel="stylesheet" />


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

 
  
    <div class="login-card">
    <h1>Kayıt</h1><br>

  
        @Html.AntiForgeryToken()
        <div class="alert alert-danger" role="alert">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
            @Html.LabelFor(x => x.Name, new { @class = "col-sm-2 control-label" })
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Ad.." })
            @Html.LabelFor(x => x.Surname, new { @class = "col-sm-2 control-label" })
            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", placeholder = "Soyad.." })
            @Html.LabelFor(x => x.Email, new { @class = "col-sm-2 control-label" })
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email.." })
            @Html.LabelFor(x => x.Username, new { @class = "col-sm-2 control-label" })
            @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Kullanıcı Adı.." })
            @Html.LabelFor(x => x.Password, new { @class = "col-sm-2 control-label" })
            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password" })
            @Html.ValidationMessageFor(x => x.Password)
            @Html.LabelFor(x => x.ConfirmPassword, new { @class = "col-sm-2 control-label" })
            @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", type = "password" })
            <span class="text-danger">@Html.ValidationMessageFor(x => x.ConfirmPassword)</span>



            <button type="submit" class="btn btn-default">Kayıt Ol</button>
            <div class="login-help">
                <a href="@Url.Action("Login","Account")">Giriş Yap</a>
            </div>
        </div>
    }
                
              
