<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gebo Admin Panel</title>

    <!-- Bootstrap framework -->
    <link rel="stylesheet" href="~/Areas/Management/bootstrap/css/bootstrap.min.css" />
    <!-- jQuery UI theme -->
    <link rel="stylesheet" href="~/Areas/Management/lib/jquery-ui/css/Aristo/Aristo.css" />
    <!-- tooltips-->
    <link rel="stylesheet" href="~/Areas/Management/lib/jBreadcrumbs/css/BreadCrumb.css" />
    <!-- tooltips-->
    <link rel="stylesheet" href="~/Areas/Management/lib/qtip2/jquery.qtip.min.css" />
    <!-- colorbox -->
    <link rel="stylesheet" href="~/Areas/Management/lib/colorbox/colorbox.css" />
    <!-- code prettify -->
    <link rel="stylesheet" href="~/Areas/Management/lib/google-code-prettify/prettify.css" />
    <!-- sticky notifications -->
    <link rel="stylesheet" href="~/Areas/Management/lib/sticky/sticky.css" />
    <!-- aditional icons -->
    <link rel="stylesheet" href="~/Areas/Management/img/splashy/splashy.css" />
    <!-- flags -->
    <link rel="stylesheet" href="~/Areas/Management/img/flags/flags.css" />
    <!-- datatables -->
    <link rel="stylesheet" href="~/Areas/Management/lib/datatables/extras/TableTools/media/css/TableTools.css">

    <!-- calendar -->
    <link rel="stylesheet" href="~/Areas/Management/lib/fullcalendar/fullcalendar_gebo.css" />

    <!-- main styles -->
    <link rel="stylesheet" href="~/Areas/Management/css/style.css" />
    <!-- theme color-->
    <link rel="stylesheet" href="~/Areas/Management/css/blue.css" id="link_theme" />

    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

    <!-- favicon -->
    <link rel="shortcut icon" href="~/Area/Management/favicon.ico" />

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="~/Areas/Management/css/ie.css" />
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="~/Areas/Management/js/ie/html5.js"></script>
        <script src="~/Areas/Management/js/ie/respond.min.js"></script>
        <script src="~/Areas/Management/lib/flot/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/Areas/Management/js/jquery.min.js"></script>
    <script src="~/Areas/Management/js/jquery-migrate.min.js"></script>
    <script src="~/Areas/Management/lib/jquery-ui/jquery-ui-1.10.0.custom.min.js"></script>
    <!-- touch events for jquery ui-->
    <script src="~/Areas/Management/js/forms/jquery.ui.touch-punch.min.js"></script>
    <!-- easing plugin -->
    <script src="~/Areas/Management/js/jquery.easing.1.3.min.js"></script>
    <!-- smart resize event -->
    <script src="~/Areas/Management/js/jquery.debouncedresize.min.js"></script>
    <!-- js cookie plugin -->
    <script src="~/Areas/Management/js/jquery_cookie_min.js"></script>
    <!-- main bootstrap js -->
    <script src="~/Areas/Management/bootstrap/js/bootstrap.min.js"></script>
    <!-- bootstrap plugins -->
    <script src="~/Areas/Management/js/bootstrap.plugins.min.js"></script>
    <!-- typeahead -->
    <script src="~/Areas/Management/lib/typeahead/typeahead.min.js"></script>
    <!-- code prettifier -->
    <script src="~/Areas/Management/lib/google-code-prettify/prettify.min.js"></script>
    <!-- sticky messages -->
    <script src="~/Areas/Management/lib/sticky/sticky.min.js"></script>
    <!-- tooltips -->
    <script src="~/Areas/Management/lib/qtip2/jquery.qtip.min.js"></script>
    <!-- lightbox -->
    <script src="~/Areas/Management/lib/colorbox/jquery.colorbox.min.js"></script>
    <!-- jBreadcrumbs -->
    <script src="~/Areas/Management/lib/jBreadcrumbs/js/jquery.jBreadCrumb.1.1.min.js"></script>
    <!-- hidden elements width/height -->
    <script src="~/Areas/Management/js/jquery.actual.min.js"></script>
    <!-- custom scrollbar -->
    <script src="~/Areas/Management/lib/slimScroll/jquery.slimscroll.js"></script>
    <!-- fix for ios orientation change -->
    <script src="~/Areas/Management/js/ios-orientationchange-fix.js"></script>
    <!-- to top -->
    <script src="~/Areas/Management/lib/UItoTop/jquery.ui.totop.min.js"></script>
    <!-- mobile nav -->
    <script src="~/Areas/Management/js/selectNav.js"></script>

    <!-- common functions -->
    <script src="~/Areas/Management/js/gebo_common.js"></script>


    <!-- datatable -->
    <script src="~/Areas/Management/lib/datatables/jquery.dataTables.min.js"></script>

    <script src="~/Areas/Management/lib/datatables/extras/Scroller/media/js/dataTables.scroller.min.js"></script>
    <!-- datatable table tools -->
    <script src="~/Areas/Management/lib/datatables/extras/TableTools/media/js/TableTools.min.js"></script>
    <script src="~/Areas/Management/lib/datatables/extras/TableTools/media/js/ZeroClipboard.js"></script>
    <!-- datatables bootstrap integration -->
    <script src="~/Areas/Management/lib/datatables/jquery.dataTables.bootstrap.min.js"></script>

    <!-- datatable functions -->
    <script src="~/Areas/Management/js/gebo_datatables.js"></script>




    <!-- additional sorting for datatables -->
    <script src="~/Areas/Management/lib/datatables/jquery.dataTables.sorting.js"></script>
    <!-- datatables bootstrap integration -->
    <script src="~/Areas/Management/lib/datatables/jquery.dataTables.bootstrap.min.js"></script>
    <!-- tables functions -->
    <script src="~/Areas/Management/js/gebo_tables.js"></script>

    <!-- Mockjax -->
    <script src="~/Areas/Management/js/jquery.mockjax.js"></script>
    <!-- moment.js date library -->
    <script src="~/Areas/Management/lib/moment_js/moment.min.js"></script>
    <!-- x-editable -->
    <script src="~/Areas/Management/lib/select2/select2.js"></script>
    <script src="~/Areas/Management/lib/x-editable/js/bootstrap-editable.min.js"></script>
    <script src="~/Areas/Management/lib/x-editable/inputs-ext/address/address.js"></script>
    <script src="~/Areas/Management/lib/x-editable/inputs-ext/typeaheadjs/typeaheadjs.js"></script>

    <!-- editable elements functions -->
    <script src="~/Areas/Management/js/gebo_editable_elements.js"></script>
    
</head>
<body class="full_width">
    

    <div id="maincontainer" class="clearfix">
        <header>
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand pull-left" href="@Url.Action("Index","Home" ,new { Area = "" })"> < Kullanıcı Arayüzü</a>
                        
                        <ul class="nav navbar-nav user_menu pull-right">
                            
                            <li class="divider-vertical hidden-sm hidden-xs"></li>
                           
                       
                           @Html.Partial("_PartialLogin")
                        </ul>
                    </div>
                </div>
            </nav>


           

        </header>
        <div id="contentwrapper">
            <div class="main_content">
                @RenderBody()
                </div>
            </div>
                <a href="javascript:void(0)" class="sidebar_switch on_switch ttip_r" title="Hide Sidebar">Sidebar switch</a>
                <div class="sidebar">

                    <div class="sidebar_inner_scroll">
                        <div class="sidebar_inner">
                          
                            <div id="side_accordion" class="panel-group">
@if (HttpContext.Current.User.IsInRole("Admin"))
{
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#collapseOne" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                                            <i class="glyphicon glyphicon-user"></i> Kullanıcı Yönetimi
                                        </a>
                                    </div>
                                    <div class="accordion-body collapse" id="collapseOne">
                                        <div class="panel-body">
                                            <ul class="nav nav-pills nav-stacked">
                                                <li><a href="@Url.Action("UserManager", "Admin", new { Area = "Management" })">Kullanıcılar</a></li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#collapseTwo" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                                            <i class="glyphicon glyphicon-folder-close"></i> Anket Ayarları
                                        </a>
                                    </div>
                                    <div class="accordion-body collapse" id="collapseTwo">
                                        <div class="panel-body">
                                            <ul class="nav nav-pills nav-stacked">
                                                <li><a href="javascript:void(0)">Anketler</a></li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                         
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#collapseThree" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                                            <i class="glyphicon glyphicon-th"></i>Slider Ayarları
                                        </a>
                                    </div>
                                    <div class="accordion-body collapse" id="collapseThree">
                                        <div class="panel-body">
                                            <ul class="nav nav-pills nav-stacked">
                                                <li><a href="javascript:void(0)">Slider</a></li>
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                @if(HttpContext.Current.User.IsInRole("Operatör") || HttpContext.Current.User.IsInRole("Admin"))
                   {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#collapseFour" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                                            <i class="glyphicon glyphicon-th"></i>Arıza Listesi
                                        </a>
                                    </div>
                                    <div class="accordion-body collapse" id="collapseFour">
                                        <div class="panel-body">
                                            <ul class="nav nav-pills nav-stacked">
                                                <li><a href="@Url.Action("FaultList", "Operator", new { Area = "Management" ,type=0 })">Atanmamış Arızalar</a></li>
                                                @if (HttpContext.Current.User.IsInRole("Operatör")) { 
                                                <li><a href="@Url.Action("FaultList", "Operator", new { Area = "Management" ,type=1 })">Arızalarım</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
             }
                                @if (HttpContext.Current.User.IsInRole("Teknisyen"))
                                {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#collapseSix" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                                            <i class="glyphicon glyphicon-th"></i>Arıza Listesi
                                        </a>
                                    </div>
                                    <div class="accordion-body collapse" id="collapseSix">
                                        <div class="panel-body">
                                            <ul class="nav nav-pills nav-stacked">
                                               
                                                <li><a href="@Url.Action("FaultList", "Technician", new { Area = "Management" })">Arızalarım</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                }

                            </div>

                            <div class="push"></div>
                        </div>

                        <div class="sidebar_info">
                            <ul class="list-unstyled">
                                <li>
                                    <span class="act act-warning">65</span>
                                    <strong>New comments</strong>
                                </li>
                                <li>
                                    <span class="act act-success">10</span>
                                    <strong>New articles</strong>
                                </li>
                                <li>
                                    <span class="act act-danger">85</span>
                                    <strong>New registrations</strong>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>


        <script src="http://maps.google.com/maps/api/js?key=AIzaSyAP53g7yo4Rm0Fc5qFg7_iiK3k8AWSNuyE&language=en" type="text/javascript"></script>
        <script src="~/Areas/Management/js/gmap3.min.js"></script>
        <!-- maps functions -->
        <script src="~/Areas/Management/js/gebo_maps.js"></script>

       

            </div>

</body>
</html>

